#!/usr/bin/env python
# -*- coding: utf-8 -*-

"""Example project."""

__author__ = '{{ .author }}'
__email__ = '{{ .email }}'
__license__ = '{{ .license }}'

if __name__ == '__main__':
    print("Hello World")
