#!/usr/bin/env python
# -*- coding: utf-8 -*-

"""Example project."""

__author__ = '{{ .author }} <{{ .email }}>'
__copyright__ = 'Copyright 2018, {{ .author }}'
__license__ = '{{ .license }}'

# import goes here...

if __name__ == '__main__':
    print("Hello World")
