#!/usr/bin/env python
# -*- coding: utf-8 -*-

"""Example project."""

__author__ = 'Author A, Author B, Author C'
__copyright__ = 'Copyright 2018, Company or Group Name'
__license__ = '{{ .license }}'
__email__ = 'your_email@email.com'

if __name__ == '__main__':
    print("Hello World")
