# {{ .projectName }}

[![Go Report Card](https://goreportcard.com/badge/github.com/Armour/{{ .projectName }})](https://goreportcard.com/report/github.com/Armour/{{ .projectName }})
[![Go Project Layout](https://img.shields.io/badge/go-layout-blue.svg)](https://github.com/golang-standards/project-layout)
[![Go Doc](https://img.shields.io/badge/godoc-reference-blue.svg)](http://godoc.org/github.com/Armour/{{ .projectName }})
[![PRs Welcome](https://img.shields.io/badge/PRs-welcome-brightgreen.svg)](http://makeapullrequest.com)
{{- if eq .license "MIT" }}
[![License: MIT](https://img.shields.io/badge/License-MIT-blue.svg)](https://opensource.org/licenses/MIT)
{{- else if eq .license "GPL" }}
[![License: GPL v3](https://img.shields.io/badge/License-GPL%20v3-blue.svg)](https://www.gnu.org/licenses/gpl-3.0)
{{- else if eq .license "Apache" }}
[![License: Apache 2.0](https://img.shields.io/badge/License-Apache%202.0-blue.svg)](https://opensource.org/licenses/Apache-2.0)
{{- end }}
[![Template from jarvis](https://img.shields.io/badge/Hi-Jarvis-ff69b4.svg)](https://github.com/Armour/Jarvis)

## Install

```bash
go get github.com/Armour/{{ .projectName }}
```

## Example

```go
example here
```

## Contributing

1. Fork it!
1. Create your feature branch: `git checkout -b my-new-feature`
1. Commit your changes: `git commit -am 'Add some feature'`
1. Push to the branch: `git push origin my-new-feature`
1. Submit a pull request :D

## License

{{ if eq .license "MIT" -}}
[MIT License](https://github.com/Armour/{{ .projectName }}/blob/master/LICENSE)
{{- else if eq .license "GPL" -}}
[GPL License](https://github.com/Armour/{{ .projectName }}/blob/master/LICENSE)
{{- else if eq .license "Apache" -}}
[Apache License](https://github.com/Armour/{{ .projectName }}/blob/master/LICENSE)
}}
{{- end }}
