@charset "UTF-8";
{{- if .materialize }}

// materialize
@import "materialize";
{{- end }}

// Common
@import "common";

// Components
// @import "components/ComponentName";

// Pages
// @import "pages/PageName";
